
html {
margin: 0;
padding: 0;
font-family: 'Montserrat', sans-serif;
background: bisque;

h2 {
    color: black;
}
p {
    color: darkgray;
}
}

body {
    position: relative;
    padding: 40px;
}

//GRID
.grid-container {
    padding-top: 20px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr;
}

//OVERLAY
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);


}

//CARD

.card {
    margin: 10px;
    display: flex;
border: 2px solid brown;
background: beige;
img {
    padding: 20px;
    border-radius: 50%;
}

}
.card:hover {
    border-color: burlywood;
    opacity: 0.8;
cursor: pointer;
}

.text-container {

    h2 {
        font-weight: bolder;
        font-size: 16px;
    }
    p {
        font-weight: lighter;
        font-size: 12px;
    }
}
.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px
        }

        .modal-left {
            background: wheat;
            position: absolute;
            left: 15px;
            margin-top: 150px;
            
        }

        .modal-right {
            background: wheat;
            position: absolute;
            right: 10px;
            margin-top: 150px;
        }

        .modal-left:hover,
        .modal-right:hover {
cursor: pointer;
        }

        .modal-close {
position: absolute;
right: 15px;
top: 5px;
cursor: pointer;
        }

        .hidden {
            display: none;
        }